#header4-0 P {
  font-size: 30px;
}
#features1-3 .mbr-section__col .mbr-header__text I {
  color: #7c706b;
  font-size: 24px;
}
#features1-3 .mbr-section__col .mbr-header__text {
  font-size: 24px;
  color: #7c706b;
}
#features1-3 .mbr-section__col .mbr-header__text P {
  color: #7c706b;
  font-size: 24px;
}
#features1-3 P {
  color: #7c706b;
  font-size: 20px;
}
#features1-3 .mbr-section__col .mbr-header__text SPAN {
  text-align: left;
  font-size: 20px;
}
#ext_menu-15 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-15.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-15 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-15 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-15 .mbr-brand__name a {
  font-size: 16px;
}
#ext_menu-15 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-15.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-15 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-15 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-15 .mbr-brand__name a {
  font-size: 16px;
}
#ext_menu-15 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-15.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-15 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-15 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-15 .mbr-brand__name a {
  font-size: 16px;
}
#content5-35 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-35 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-35 .mbr-article {
  color: #fff;
}
#content5-35 .mbr-article P {
  font-size: 20px;
  color: #efefef;
}
#ext_menu-15 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-15.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-15 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-15 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-15 .mbr-brand__name a {
  font-size: 16px;
}
#features1-19 .mbr-section__col .mbr-header__text {
  font-size: 24px;
  color: #7c706b;
}
#features1-20 .mbr-section__col .mbr-header__text {
  text-align: center;
  color: #7c706b;
}
#features1-20 .mbr-section__col .mbr-header__text P {
  text-align: center;
  color: #7c706b;
}
#features1-20 P {
  text-align: center;
}
#ext_menu-15 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-15.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-15 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-15 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-15 .mbr-brand__name a {
  font-size: 16px;
}
#features1-23 .mbr-section__col .mbr-header__text {
  text-align: center;
  color: #7c706b;
}
#features1-23 P {
  text-align: center;
}
#ext_menu-0 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-0 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-0 .mbr-brand__name a {
  font-size: 16px;
}
#header3-0 H3 {
  text-align: center;
}
